<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Empresa encargada de organizar bodas atemporales y minimalistas.">
    <meta name="robots" content="index,follow">
    <meta name="locality" content="Alginet, Valencia, España">
    <title>Ensálzate - Presupuesto</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon">
</head>

<body>

    <!--Mismo header para todas las páginas-->
    <header>
        <div class="logo_header">
            <img src="../assets/images/header/logo_header.png" alt="Logotipo Ensálzate">
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="../index.html">INICIO</a></li>
            <li><a class="pagina_vista" href="#">PRESUPUESTO</a></li> <!--Página actual-->
            <li><a href="./portfolio.html">PORTFOLIO</a></li>
            <li><a href="./contacto.html">CONTACTO</a></li>
        </ul>
    </nav>

    <main>

        <div class="contenedor_1_presupuesto"> <!--Imagen con bordes para la portada de la página actual-->
            <img src="../assets/images/presupuesto/portada.jpg" alt="Decoración mesa nupcial boda Andrea y Javier.">
        </div>

        <div class="contenedor_2_presupuesto"> <!--Este contenedor incluye tres artículos para explicar los tres servicios que la empresa ofrece.-->

            <article> <!--Servicio 1-->
                <h2>Organización integral</h2>
                <p>Este servicio es el ideal cuando todavía no habeis contratado a ningún proveedor y empezamos desde cero, con todo el proceso de organización. Aquí se trabajan los siguientes puntos:</p>
                <h3>Fase esencial</h3>
                <ul>
                    <li>Formulario inicial</li>
                    <li>Diseño del timming personalizado y fases del trabajo</li>
                    <li>Búsqueda de los primeros proveedores (espacio, cátering, fotografía y vídeo)</li>
                    <li>Gestión del presupuesto</li>
                    <li>Diseño del moodboard y paleta de colores</li>
                </ul>
                <h3>Fase pareja</h3>
                 <ul>
                    <li>Documentación de los trámites matrimoniales</li>
                    <li>Búsqueda de vestido y complementos</li>
                    <li>Peluquería y maquillaje</li>
                </ul>
                <h3>Proyecto de diseño</h3>
                <ul>
                    <li>Búsqueda de los proveedores necesarios</li>
                    <li>Acompañamiento a la prueba de menú</li>
                    <li>Diseño del proyecto de decoración</li>
                    <li>Visitas técnicas</li>
                </ul>
                <h3>Fase de coordinación</h3>
                <ul>
                    <li>Cierre de detalles con proveedores</li>
                    <li>Diseño y envío del timming para proveedores y pareja</li>
                    <li>Control del material y logítica</li>
                    <li>Última visita técnica al espacio</li>
                    <li>Asistencia el día de la boda</li>
                    <li>Montaje y desmontaje</li>
                </ul>
            </article>

            <article> <!--Servicio 2-->
                <h2>Diseño y coordinación</h2>
                <p>El servicio de diseño y decoración es el perfecto para las parejas que ya teneis gran parte de los proveedores contratados, así pues, se empieza a trabajar en la fase más creativa, hasta terminar el gran día. En este caso se trabaja:</p>
                <h3>Fase de planificación</h3>
                <ul>
                    <li>Formulario inicial</li>
                    <li>Diseño del timming personalizado y fases del trabajo</li>
                    <li>Diseño del moodboard y paleta de colores</li>
                </ul>
                <h3>Proyecto de diseño</h3>
                <ul>
                    <li>Búsqueda de los proveedores necesarios</li>
                    <li>Acompañamiento a la prueba de menú</li>
                    <li>Diseño del proyecto de decoración</li>
                    <li>Visitas técnicas</li>
                    <li>Gestión del presupuesto</li>
                </ul>
                <h3>Fase de coordinación</h3>
                <ul>
                    <li>Cierre de detalles con proveedores</li>
                    <li>Diseño y envío del timming para proveedores y pareja</li>
                    <li>Control del material y logítica</li>
                    <li>Última visita técnica al espacio</li>
                    <li>Asistencia el día de la boda</li>
                    <li>Montaje y desmontaje</li>
                </ul>
            </article>

            <article> <!--Servicio 3-->
                <h2>Asesorías personalizadas</h2>
                <p>Las asesorías personalizadas son el único servicio en formato online. Es para ti sí...</p>
                <ul>
                    <li>Vas a empezar con la organización de la boda y necesitas saber cuáles son los primeros pasos a realizar.</li>
                    <li>Dispones del tiempo suficiente para organizar tu boda, pero durante el proceso de trabajo te surgen algunas dudas concretas.</li>
                    <li>Es momento de trabajar la fase creativa y sientes incertidumbre con algunos proveedores, materiales o ideas.</li>
                    <li>Estás a unas semanas de la boda y quieres comprobar que todo está perfectamente cerrado.</li>
                </ul>
                <h3>A elegir entre:</h3>
                <ul>
                    <li>Pack Básic: 1 sesión de 60 minutos.</li>
                    <li>Pack Premium: 3 sesiones de 60 minutos.</li>
                </ul>
                <h3>¿Qué recibirás?</h3>
                <ul>
                    <li>Un formulario inical para conocer bien cuál es vuestra situación y qué dudas os gustaría resolver.</li>
                    <li>El número de sesiones elegidas de 60 minutos, en la que resolveremos todas las dudas del tema elegido.</li>
                    <li>El dosier personalizado que trabajaremos durante la reunión. Lo recibirás al terminar para que puedas consultar cualquier duda cuando lo necesites.</li>
                </ul>
            </article>

        </div>

        <div class="contenedor_3_presupuesto"> <!--Contenedor con tres imágenes para separar secciones. Las tres imágenes están alineadas horizontalmente mediante la estructura Flex-->
            <img src="../assets/images/presupuesto/foto1.jpg" alt="Decoración mesa 1.">
            <img src="../assets/images/presupuesto/foto2.jpg" alt="Decoración mesa 2.">
            <img src="../assets/images/presupuesto/foto3.jpg" alt="Decoración mesa 3.">
        </div>

        <section class="contenedor_formulario"> <!--Contenedor que incluye el formulario.-->
            <h2>¿Estáis interesados con algún servicio?<br>¡Rellena el formulario y hablamos!</h2>
            <form action="#" method="post">

                <label for="nombre">Nombre:</label> 
                <input type="text" name="nombre" id="nombre" required>
                    
                <label for="email">Correo electrónico:</label> 
                <input type="email" name="email" id="email" pattern=".+@example\.com" required>
                    
                <label for="telefono">Teléfono:</label> 
                <input type="tel" name="telefono" id="telefono" required>
                    
                <label for="invitados">Número de invitados: </label>
                <input type="number" name="invitados" id="invitados" required>
                    
                <label for="fecha">Fecha del evento: </label> 
                <input type="date" name="fecha" id="fecha" required>
                    
                <label>¿Cómo nos has conocido? </label> 
                <select name="conocido" id="conocido">
                    <option value="instagram">Instagram</option>
                    <option value="amigos_familiares">Amigos/familiares/conocidos</option>
                    <option value="otro">Otros.</option>
                </select>

                <label for="mensaje">Mensaje:</label>
                <textarea name="mensaje" id="mensaje" placeholder="Deja aquí un comentario sí así lo deseas." required></textarea>

                <div> <!--Contenedor para alinear horizontalmente el input y el label de la política de privacidad.-->
                    <input type="checkbox" name="privacidad" value="privacidad" id="privacidad" required>
                    <label for="privacidad"> He leído y acepto la política de privacidad.</label> 
                </div>

                <input class="enviar" type="submit" value="Enviar">

                <input class="borrar" type="reset" value="Borrar">

            </form>

        </section>

    </main>

    <footer> <!--Mismo footer para todas las páginas-->

        <img src="../assets/images/footer/logo_footer.png" alt="Logotipo secundario Ensálzate.">
        <div>
            <p>Ensálzate | Wedding Planner | 617338962 | <a href="mailto:hola@ensalzate.es">hola@ensalzate.es</a></p>
            <p>Alginet, Valencia | Magistrado Greus, 112.</p>
            <a href="https://www.elabogadodigital.com/como-hacer-el-aviso-legal-de-tu-web/" target="_blank">Aviso legal</a> | <a href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal" target="_blank">Política de privacidad</a> | <a href="https://www.adobe.com/es/legal/terms.html" target="_blank">Condiciones generales de uso</a><br>
            <a href="https://www.instagram.com/ensalzate/?hl=es" target="_blank"><img class="redes" src="../assets/images/footer/redes/instagram.png" alt="Link Instagram Ensálzate"></a><a href="https://www.facebook.com/ensalzate/?locale=es_ES" target="_blank"><img class="redes" src="../assets/images/footer/redes/facebook.png" alt="Link Facebook Ensálzate"></a>
        </div>

    </footer>

</body>
</html>